body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.card {
	background: white;
	display: inline-block;
	margin: 4em;
	box-shadow: .5em 0 1.25em #ccc;
	border-radius: .3em;
	overflow: hidden;
	max-width: 20em;
}

h2, p {
	margin: 1rem;
}

img {
	display: block;
}

h1 {
	font-weight: normal;
	font-size: 2.5em;
	margin: 4rem
}

aside {
	display: block;
	color: #ddd;
	text-align: center
}